<%=link_to signout_path ,method: 'delete'  do %><i class="icon-off"></i> <span>Logout</span><% end %>

<div id="map-container" style="height: 450px">
</div>
<table class="table" id="drivers_list">
	<% @drivers.each do |driver| %>
		<tr>
			<td><%= check_box_tag "driver", driver.id %></td>
			<td><%= driver.mobile %></td>
			<td><%= driver.try(:name) %></td>
		</tr>
	<% end %>
</table>

<%= content_tag "div", id: "driver_ids" do %>
<% end %>
