<tr>
	<td><%= link_to user.mobile , [:zone_admin,user]%></td>
	<td><%= DriverTrackPoint.where(driver_id: user.id).count %> </td>
	<td><%= user.plate %> </td>
	<td><%= user.name %></td>
	<td><%= user.taxi_company.try(:name)%> </td>
	<td><span class="<%= User::STATUS_TYPE_CLASS[user.status.to_sym]%>"><%= User::STATUS_TYPE_HUMAN[user.status.to_sym] %></span></td>
	<td>
		<%= render partial:'share/edit',  locals:{edit_url:[:edit,:zone_admin,user]} %>
		<%= render partial:'share/delete',locals:{delete_url:[:zone_admin,user] }%>
	</td>
</tr>
