<tr>
	<td><%= advertisement_counter + Advertisement.per_page * (params[:page].to_i - 1)  + 1%></td>
	<td><%= advertisemnet.start_time %></td>
	<td><%= advertisement.end_time %></td>
	<td><%= advertisement.content %></td>
	<td>
		<%= render partial:'share/edit',  locals:{edit_url:[:edit,:zone_admin,advertisement]} %>
		<%= render partial:'share/delete',locals:{delete_url:[:zone_admin,advertisement] }%>
	</td>
</tr>