<div id="sidebar">
	<div id="sidebar-shortcuts">
		<div id="sidebar-shortcuts-large">
			<button class="btn btn-small btn-success">
				<i class="icon-signal"></i>
			</button>

			<button class="btn btn-small btn-info">
				<i class="icon-pencil"></i>
			</button>

			<button class="btn btn-small btn-warning">
				<i class="icon-group"></i>
			</button>

			<button class="btn btn-small btn-danger">
				<i class="icon-cogs"></i>
			</button>
		</div>

		<div id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>

			<span class="btn btn-info"></span>

			<span class="btn btn-warning"></span>

			<span class="btn btn-danger"></span>
		</div>
	</div><!--#sidebar-shortcuts-->

	<ul class="nav nav-list">
		<% action_groups.each do |group| %>
			<% if side_bar_group_size(group) > 1 %>
				<% if group_match?(group) %>
					<li class="active open" %>
				<% else %>
					<li>
				<%end %>
					<%= link_to "#" ,:class => "dropdown-toggle" do %>
						<i class="<%= group[:icon]%>"></i>
						<span><%= group[:name] %></span>
						<b class="arrow icon-angle-down"></b>
					<% end %>
					<ul class="submenu">
						<% side_bar_group_actions(group) do |action|%>
							<% if action_match?(action) %>
								<li class="active"%>
							<% else %>
								<li>
							<% end %>
								<%= link_to action[:url] do %>
									<i class="icon-double-angle-right"></i>
									<%= action[:name] %>
								<% end %>
							</li>
						<% end %>
					</ul>
				</li>
			<% else %>
				<% side_bar_group_actions(group) do |action|%>
					<% if action_match?(action) %>
						<li class="active"%>
					<% else %>
						<li>
					<% end %>
						<%= link_to action[:url] do %>
							<i class="<%=group[:icon]%>"></i>
							<span><%= action[:name] %></span>
						<% end %>
					</li>
				<% end %>
			<% end %>
		<% end %>

		<li>
			<%= link_to signout_path,method: :delete  do%>
			<i class="icon-off"></i>
			<span>退出</span>
			<% end %>
		</li>
	</ul><!--/.nav-list-->

	<div id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>