<!DOCTYPE html>
<html>
<head>
	<title>奔奔出租</title>
	<script src="http://api.map.baidu.com/api?v=1.5&ak=96fae1b51460b6910217e1b09658fb40" type="text/javascript"></script>
	<%= render partial:'layouts/header' %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render partial:'layouts/topbar' %>
	<div class="container-fluid" id="main-container">
		<a id="menu-toggler" href="#">
				<span></span>
		</a>
		<%= render partial:'layouts/sidebar' %>
		<div id="main-content" class="clearfix">
			<%= render partial:'layouts/breadcrumbs' %>
			<div id="page-content" class="clearfix">
				<%= render partial: 'layouts/page_header'%>	
				<div class="row-fluid">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
